{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
      ["react-css-modules", {
        "exclude": "node_modules",
        "filetypes": {
          ".less": {
            "syntax": "postcss-less"
          }
        },
      }],
      ["import", {"libraryName": "antd-mobile", "style": true}]
    ]
}
