@import "~assets/less/variables.less";

.container {
  .login-bg();
}
.top {
  text-align: right;
  font-size: 32px;
  a {
    color: white;
  }
}

.logo {
  margin-top: 122px;
  width: 156px;
  height: 100px;
}

.welcomeWord {
  margin: 110px 0;
  font-size: 60px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  font-size: 40px;
  height: 100px;
  align-items: center;
  padding: 0 60px;
  border-radius: 50px;
  margin-bottom: 20px;
  color: rgba(64, 174, 168, 1);

  .github {
    width: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
}

.moreWays {
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 74px;
}

.moreWaysIcon {
  display: flex;
  font-size: 32px;
  padding-bottom: 20px;
}
.weiboContainer {
  display: flex;
  align-items: center;
  margin-right: 64px;

  .weibo {
    width: 44px;
    margin-right: 18px;
  }
}

.wechatContainer {
  display: flex;
  align-items: center;

  .wechat {
    width: 40px;
    margin-right: 18px;
  }
}
